@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css');

* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
    background-color: #e7e7e744;
}

:root {
    --text-primary: #1269b5;
    --text-no-active: #c0e0fcfb;
    --text-white: #fff;
    --text-black: #333;
    --text-font-normal: 1.5rem;
    --text-font-sm: 1.4rem;
    --text-font-title1: 2.6rem;
    --text-font-title2: 2rem;
    --text-bold-title: 700;
    --text-font-description: 1.3rem;
    --text-color-description: #b5b5b5;
    --hover-primary: #e8f4ff;
    --hover-active: #bfe0ff;
    --border-radius-button: 7px;
    --background-color: #f2f4f6;
    --background-color-primary: #eaf3fa;
    --color-ctu: rgb(0, 123, 255);
}

a {
    text-decoration: none;
    color: var(--text-black);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.icon {
    margin-right: 6px;
}


.btn {
    border: none;
    background-color: #f1f1f1;
    padding: 6px 16px;
    border-radius: 7px;
    font-size: var(--text-font-sm);
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.btn:active {
    transform: scale(0.99);
}

.btn-red {
    color: red;
}

.btn-green {
    color: green;
}

/* ---------CSS FORM ------ */
.form-control {
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 7px;
}

.form-control:focus {
    outline: none;
    box-shadow: 0px 0px 2px rgb(3, 192, 255);
}

.form-label {
    display: block;
    font-size: var(--text-font-sm);
    font-weight: bold;
    padding: 6px 12px;
}

/* ----CSS text color --- */
.text-black {color: var(--text-black); font-weight: 500;}
.text-orange{color: orange;font-weight: 500}
.text-green{color: green;font-weight: 500}
.text-blue {color: blue;font-weight: 500}
.text-gray {color: gray}
.text-red {color: red;}


/* -----CSS color------- */
.color-red {
    color: red;
}

.color-orange {
    color: orange;
}

.color-green {
    color: green;
}

.color-blue {
    color: blue;
}

.color-ctu {
    color: rgb(0, 123, 255);
}

.color-primary {
    color: var(--text-primary);
}