@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css');

* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}

:root {
    --text-primary: #1269b5;
    --text-no-active: #c1e0fcfb;
    --text-white: #fff;
    --text-black: #333;
    --text-font-normal: 1.5rem;
    --text-font-sm: 1.4rem;
    --text-font-title1: 2.6rem;
    --text-font-title2: 2rem;
    --text-bold-title: 700;
    --text-font-description: 1.3rem;
    --text-color-description: #b5b5b5;
    --hover-primary: #e8f4ff;
    --hover-active: #bfe0ff;
    --border-radius-button: 7px;
    --background-color: #f2f4f6;
    --background-color-primary: #eaf3fa;
}

a {
    text-decoration: none;
    color: var(--text-black);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.page-main_content {
    max-width: 95%;
    margin: auto;
}