/* Config structure page */
.page {
    position: relative;
    display: grid;
    grid-template-areas: 'page-main' 'page-footer';
    grid-template-rows: auto 100px;
    row-gap: 8px;
    min-height: 100vh;
    margin-top: 80px;
    background-color: white;
}

.page-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 80px;
    z-index: 10;
    display: flex;
    align-items: center;
}

.page-main {
    grid-area: page-main;
    margin: 0px auto 0px auto;
}

.page-footer {
    grid-area: page-footer;
    background-color: #eaf3fa;
    height: fit-content;
    padding: 12px;
}

