.header-navbar {
    margin-left: 32px;
    flex: 1;
}

.navbar_list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar_item {
    padding: 6px 16px;
    border-radius: var(--border-radius-button);
    margin: 0px 8px;
}

.navbar--link {
    display: block;
    font-size: 1.8rem;
    color: rgb(168, 204, 248);
    text-transform: uppercase;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.08);
    font-weight: var(--text-bold-title);
}

.navbar_item:hover .navbar--link {
    color: var(--text-white);
}

.navbar_item:hover {
    cursor: pointer;
}

.navbar_item.active {
    border-bottom: 1px solid var(--text-white);
}

.navbar_item.active .navbar--link {
    color: var(--text-white);
}