.header-navbar {
    margin-left: 32px;
    flex: 1;
}

.navbar_list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar_item {
    padding: 6px 16px;
    border-radius: var(--border-radius-button);
    margin: 0px 8px;
}

.navbar--link {
    display: block;
    font-size: 1.8rem;
    color: rgb(120, 180, 253);
    text-transform: uppercase;
    text-shadow: 3px 3px 3px rgba(0, 51, 105, 0.222);
    font-weight: var(--text-bold-title);
    padding: 4px 0px;
}

.navbar_item:hover .navbar--link {
    color: var(--text-primary);
}

.navbar_item:hover {
    cursor: pointer;
}

.navbar--link.active {
    border-bottom: 2px solid var(--text-primary);
    color: var(--text-primary);
}